<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Gotcha: la cadena debe estar en el proyecto de INICIO (WPF), no en la Class Library. -->
  <connectionStrings>
    <add name="NeptunoDB"
         connectionString="Data Source=ALDAIR\SQLEXPRESS;Initial Catalog=NeptunoDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;Application Name=NeptunoApp" />
  </connectionStrings>
</configuration>
